{% load static%}
<!DOCTYPE html>
<head>
	<title> Add specialist</title>
	<link rel="stylesheet" href="{%static 'css/specialist.css'%}">
</head>
<body id="spe">
	
	<form class="box" method ="post">
		<h1>Add Specialist Details</h1>
		<input type="text" name="specialist-id" placeholder="specialist_id" bgcolor="red"><br>
		<input type="text" name="" placeholder="specialist_name"><br>
		<input type="boolean" name="" placeholder="gender"><br>
		<input type="digits" name="" placeholder="contact-no."><br>
		<input type="submit" value="ADD" >
		<input type="submit" value="UPDATE" >
		<input type="submit" value="DELETE" >
	</form>
</body>