{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'css/changepassword.css'%}">
    <title>Change Password</title>
</head>
<body>
    <form class="box" action="" method="post">
			{% csrf_token %}
	   <h1>Change password</h1>
<!--	   <input type="password" name="password" placeholder="Old Password"><br>-->
<!--       <input type="password" name="password" placeholder="New Password"><br>-->
<!--	   <input type="submit" value="Login">-->
        <div>
            {{ form }}
        {% if messages %}
          <ul class="messages">
              <li class="{{ message.tags }}">{{ message }}</li>
          </ul>
        {% endif %}
            <input type="submit" name="Save">
		</div>
	</form>
</body>
</html>