{% load static %}
{% load index %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{%static 'css/service.css'%}">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.
        , user-scalable=no">

    <!-- Site Metas -->
    <title>KALLISTAA</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">

    <link rel="stylesheet" href="{% static 'css/loading.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="barber_version">

<!-- LOADER -->
<div id="preloader">
    <div class="cube-wrapper">
        <div class="cube-folding">
            <span class="leaf1"></span>
            <span class="leaf2"></span>
            <span class="leaf3"></span>
            <span class="leaf4"></span>
        </div>
        <span class="loading" data-name="Loading">KALLISTAA Loading</span>
    </div>
</div><!-- end loader -->
<!-- END LOADER -->

 <div id="wrapper">

        <!-- Sidebar-wrapper -->
        <div id="sidebar-wrapper">
			<div class="side-top-left">
				<div class="logo-sidebar">

                    <a href="\index\"><img src="{%static 'images/logos/logo.png'%}" width="285" alt="image"></a><br>
<!--                    <a href="\profile\"><i class="fa fa-fw fa-user" style="background-color:white; width:40px; hight:80px"><br>My Profile</i></a>-->
<!--                    <div class="nav-collapse collapse">-->
                         <ul class="sidebar-nav">
                            <li class="dropdown">

                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-fw fa-user"></i><b> {{user.username}} </b><i class="fa fa-fw fa-caret"></i><i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    {% if user.is_authenticated %}
                                    <li>
                                        <a tabindex="-1" href="\profile\" class="btn btn-light btn-radius btn-brd grd1 effect-1">Profile</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a tabindex="-1" href="\logout\" class="btn btn-light btn-radius btn-brd grd1 effect-1">Logout</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a tabindex="-1" href="\login\" class="btn btn-light btn-radius btn-brd grd1 effect-1">Sign in</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="\register\" class="btn btn-light btn-radius btn-brd grd1 effect-1">Sign Up</a>
                                    </li>
                                    {%endif%}
                                </ul>
                            </li>
                        </ul>

                    </div>
				<ul class="sidebar-nav">
					<li><a  href="\index\" >Home</a></li>
					<li><a href="\about\">About Us</a></li>
                    <li><a href="\appointment\">Appointment</a></li>
                    <li><a href="\barbers\">Our Specialist</a></li>
                    <li><a href="\servicecategory\">Our Services Categories</a></li>
                    <li><a href="\membership\">Our Membership</a></li>
                    <li><a href="\package\" class="active">Our Packages</a></li>
                    <li><a href="\Gallery\">Gallery</a></li>
                    <li><a href="\Productcategory\">Our Product Categories</a></li>
                    <li ><a href="\cartdetails\" class ="nav-cart-icon nav-sprite">Add to Cart</a></li>
				</ul>

			 </div>
        </div>
    <div class="section lb">
        <div class="container-fluid">
            <div class="section-title row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <small>see our package details</small>
                    <h3>OUR PACKAGES</h3>
                    <hr class="grd1">
                    <p class="lead">
                        ....................................................................................................................</p>
                </div>
            </div>
        </div>


        <!-- Menu Toggle Script -->
        <!--        <div class="frame" width="1000">-->
        <!--             <img src="{% static 'images/serum.jpg' %}" alt="image"  width="250"><br><br>-->
        <!--            <img src="{% static 'images/conditioner.jpg' %}" alt="image"  width="250"><br><br>-->

        <!--        </div>-->
        <div class="row text-center">
            <!--                        <div class="col-md-4 col-sm-6 col-xs-12">-->
            <!--                           <div class="service-widget">-->
            <!--                                <div class="post-media wow fadeIn">-->
            <!--                                    <a href="{% static 'uploads/serum.jpg' %}" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>-->
            <!--                                    <img src="{% static 'uploads/serum.jpg' %}" alt="" class="img-responsive img-rounded">-->
            <!--                                </div>-->
            <!--                                <h3>Show us Your Graft Style</h3>-->
            <!--                                <p>Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est, convallis nec purus vitae, iaculis posuere sapien. Cum sociis natoque.</p>-->
            <!--                            </div>&lt;!&ndash; end service &ndash;&gt;-->
            <!--                        </div>-->
            <br><br>
            <!--                      <h1 align="center"><font color="black"><b><i>VIEW PACKAGES</i> </b></font></h1>-->



            <div class="service-widget">
            {% for i in package %}
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="post-media wow fadeIn">

                        <!--                                 <a href="{% static 'uploads/conditioner.jpg' %}" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a><br>-->
                        <!--                                    <img src="{% static 'images/shampoo.jpg' %}" alt="" class="img-responsive img-rounded"  width="20%">-->
                        <!--                                    <img src="{% static 'images/loreal.png' %}" alt="" class="img-responsive img-rounded"  width="50%">-->


                        <table border="3 groove" align="center" >
                            <tr bgcolor="#D2B442">

                                <td colspan="5"><font color="black"><b><u>Package Name</u></b>
                                    <br>
                                    <h4>>> <b>{{i.package_name}}</b> <<</h4></font>
                                </td>


                            </tr>
                            <tr>

                                <td><font color="black"><b><u>Package Start Date</u><br>
                                    {{i.package_start_dt| date:"d M,Y"}}</b></font></td>

                                <td><font color="black"><b><u>Package Expire Date</u><br>
                                    {{i.package_end_dt | date:"d M,Y"}}</b></font></td>

                            </tr>

                            <tr bgcolor="#D2B442">

                                <td colspan="2"><font color="black"><b><u>Service Name</u><br>{% for serv in i.pack_servs%}
                                 <h4>{{serv.services_service.service_name}}{% if not forloop.last %},{% endif %}</h4>
<!--                                    {{serv.services_service.service_rate|add:serv.services_service.service_rate}}-->
                                    {% endfor %}</b></font></td>

                                <tr>
                            <td colspan="3"><font color="black"><b><u>Service Rate</u><br><i class="fa fa-rupee"></i>
                                <strike>{{rate| index:forloop.counter0}}</strike>/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-rupee"></i>
                              {{total| index:forloop.counter0}}/-</b></font></td>
                            <tr>
                                <td colspan="2"><h4><font color="red"><b>Flat 15% off on this services for Purchasing
                                    the Package</b></font></h4><p style="font-size:70%" class="col-md-12 text-right"><i>*This only applicable for salon members only.</i></p></td>
                            </tr>
                            <tr bgcolor="#D2B442">
                                <td colspan="2">
                                    <button type="submit" class="btn-brd grd1"><b><a href="\appointPackage\{{i.package_id}}"><font color="White">Click to take Package Services</font></a></b></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div><!-- end service -->
            {% endfor %}
        </div>
        </div>
    </div>

</div>

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class=" fa fa-angle-up"></i></a>

<!-- ALL JS FILES -->
<script src="{% static 'js/all.js' %}"></script>
<script src="{% static 'js/responsive-tabs.js' %}"></script>
<!-- ALL JS FILES -->
<script src="{% static 'js/all.js' %}"></script>
<script src="{% static 'js/responsive-tabs.js' %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static 'js/custom.js' %}"></script>

<!-- ALL PLUGINS -->
<script src="{% static 'js/custom.js' %}"></script>

<!-- Menu Toggle Script -->
<script>
    (function($) {
        "use strict";
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        smoothScroll.init({
            selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
            selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
            speed: 500, // Integer. How fast to complete the scroll in milliseconds
            easing: 'easeInOutCubic', // Easing pattern to use
            offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
            callback: function ( anchor, toggle ) {} // Function to run after scrolling
        });
    })(jQuery);

</script>
</body>
</html>

<!-- End Sidebar-wrapper -->
<!-- Page Content -->
