{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquerymain.js' %}"></script>
    <title>Title</title>
</head>
<body>
<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
  <hr>
  <p>
    Having trouble? <a href="\contact\">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="\index\" role="button">Continue to homepage</a>
  </p>
    <p class="lead"><a href="\invoice\{{saleid}}">View Invoice</a></p>
</div>
</body>
</html>