{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>KALLISTAA</title>
      <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>-->
</head>
<body>
<!--<div class="container" style="background-image:url('/static/images/welcomelogo.png');">-->
<!--&lt;!&ndash;       <div class="btn">&ndash;&gt;-->

<!--       </div>-->

<div class="container">
  <img src="{% static 'images/welcomelogo.jpg' %}" width="1520" height="730">
    <button class="btn"><a href="\index\"><font color="white"> Visit us</font></a></button>
    <div class="centered"><font color="white"><b>WELCOME TO KALLISTAA</b></font></div>
</div>

</body>
</html>